{% extends 'base.html.twig' %}

{% block title %}Hello ReturnCommandController!{% endblock %}

{% block body %}
<p>Bonjour je suis Bot, comment puis je vous aider? votre question concerne peut-être une demande ci dessous?</p>
<p>Retourner un produit</p>

<p>Veuillez taper la réf. de votre commande dans la barre de recherche.</p>
{{command.reference}}


<p>Veuillez selectionner l’article à retourner</p>
    <p>REF: {{command.product.reference}} - {{command.product.marque}} {{command.product.name}} </p>

<p>Veuillez nous indiquer la raison du retour</p>
<button><a href="/return/command/change_opinion/1">J’ai changé d’avis</a></button>
<button>J’ai recu un produit défectueux/ incomplet</button>
<button>J’ai refusé mon colis à la livraison</button>
<button>L’article reçu n’est pas le bon</button>
<button>j'ai trouvé l'article moins cher ailleurs</button>
{% endblock %}
