{% extends 'base.html.twig' %}

{% block title %}JE CHERCHE UNE CATEGORIE{% endblock %}

{% block body %}
<main class="mh-100 mw-100">

  <section class="chatbot col-3 mh-100 shadow position-fixed bottom-0 end-0 m-2 mb-5" style="border-radius: 0.5rem;">
    <div class="card">
      <div class="bg-primary p-3 hover-overlay ripple shadow-2-strong p-3 rounded-top" data-mdb-ripple-color="light">
        <a class="d-flex " href="#">
          <img class="w-25" src="https://i.ibb.co/TwcK46V/Mano-Manoicon.png" alt="ManoBot">
          <h1 class="text-light h3 text-center d-flex align-items-center pl-2" style="padding-left:20px;">Bienvenue sur
            ManoBot</h1>

        </a>
      </div>
      <div class="card-body p-5">
        <div class="position-relative">
          <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt=""
            class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
          <a class="btn btn-outline-primary" style="border-radius: 0.5rem;">
            Bonjour je suis ManoBot, </br>
            Votre question concerne peut-être une demande ci-dessous?</a>
        </div>
        <div class="position-relative my-4">
          <a href="#" class="btn btn-primary my-1 position-absolute end-0" style="border-radius: 0.5rem;">Je cherche un
            produit</a>
          <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt=""
            class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
        </div>

        <div class="position-relative" style="margin-top: 10vh;">
          <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt=""
            class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
          <a class="btn btn-outline-primary" style="border-radius: 0.5rem;">
            Veuillez selectionner la categorie de votre produit</a>
        </div>

        <div class="col-12" style="margin-top:2vh;">
          {% for category in categories %}
          <a href="{{path('chat_category_id', {'id': category.id} )}}" class="btn my-2 mx-2"
            style="border-radius: 0.5rem; width:15vh; height:15vh;">
            <i class="fas fas-8x">{{category.icon}} </i>
            <p class="d-flex justify-content-center">{{category.alt}}</p>
          </a>
          {% endfor %}
        </div>


      </div>


  </section>
</main>

  {% endblock %}
